{{/* Classification partial */}}
{{ $category := .Site.Params.currentCategory | default (index .Site.Params.categories 0) }}
{{ $gender := .Site.Params.currentGender | default (index .Site.Params.genders 0) }}
{{ $matchingLeagues := where (where .Site.Data.classification "category" $category) "gender" $gender }}
{{ $league := index $matchingLeagues 0 }}
{{ if $league }}
<table>
  <tr><th>Pos</th><th>Team</th><th>Pts</th></tr>
  {{ range sort $league.teams "position" }}
    <tr><td>{{ .position }}</td><td>{{ .team }}</td><td>{{ .points }}</td></tr>
  {{ end }}
</table>
{{ end }}
